
<div id="<%= dom_id movieshow %>">


    <p> <%= "Title:  #{movieshow.title} " %> </p> 
    <p> <%= "Rating: #{movieshow.rating} " %> </p> 
    <p> <%= "Release Date: #{movieshow.release_date} " %> </p> 
    <p> <%= "Description: #{movieshow.description} " %> </p>


</div>
