
<div id="<%= dom_id movie %>">

<tr>
    <td> <%= movie.title %> </td>
    <td> <%= movie.rating %> </td>
    <td> <%= movie.release_date %> </td>
    <td> <%= link_to "Click here", movie %> </td>
</tr>

</div>
