<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>MOVIES</h1>

<head>

  <style>

    table {
      width: 100% ;
      border-collapse: collapse

    }
    th {
      border: 2px solid #15D4F8;
      text-align: center
      padding: 20px
      font-weight: bold;
    }
    td {
      border: 1px solid #15D4F8;
      text-align: center
    }
    tfoot { 
    font-weight: bold; 
}
  
.sort-button {
  display: inline-block;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px

}

button {
  text-align: center;
}


.hidden-text {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #f39c12;
  color: white;
  border-radius: 5px;
  font-size : 16px
  text-align: center;


}

.order-asc {
  background-color: #7BAFD4; 
}

.order-desc {
  background-color: #D97B9A; 
}

body {
  background: linear-gradient(to right, #7BAFD4, #D97B9A); 
  color: #333; 
  margin: 0;
  padding: 0;
  font-size : 20px


}
h1 {
  text-align: center;
}

.content {
      position: relative;
      padding: 20px;
      background: #FFE5E5; 
}


  </style
</head>



<div class="content">

<% if params[:attribute].present? && params[:order].present? %>
  <div id="sort-message">
    Items are sorted by <%= params[:attribute].humanize %> in <%= params[:order].humanize %> order.
  </div>
<% end %>


<table>
  <thead>
    <tr>

      <th id="column-header" class="<%= params[:attribute] == 'title' && params[:order] == 'asc' ? 'order-asc' : params[:attribute] == 'title' && params[:order] == 'desc' ? 'order-desc' : '' %>">

        <%= link_to 'Title', movies_path(attribute: 'title', order: params[:order] == 'asc' ? 'desc' : 'asc') %>
        <% if params[:attribute] == 'title' %>
          <%= params[:order] == 'asc' ? '▲' : '▼' %>
        <% end %>
      </th>
      <th id="column-header" class="<%= params[:attribute] == 'rating' && params[:order] == 'asc' ? 'order-asc' : params[:attribute] == 'rating' && params[:order] == 'desc' ? 'order-desc' : '' %>" >
        <%= link_to 'Rating', movies_path(attribute: 'rating', order: params[:order] == 'asc' ? 'desc' : 'asc') %>
        <% if params[:attribute] == 'rating' %>
          <%= params[:order] == 'asc' ? '▲' : '▼' %>
        <% end %>
      </th>
      <th id="column-header" class="<%= params[:attribute] == 'release_date' && params[:order] == 'asc' ? 'order-asc' : params[:attribute] == 'release_date' && params[:order] == 'desc' ? 'order-desc' : '' %>" >
        <%= link_to 'Release Date', movies_path(attribute: 'release_date', order: params[:order] == 'asc' ? 'desc' : 'asc') %>
        <% if params[:attribute] == 'release_date' %>
          <%= params[:order] == 'asc' ? '▲' : '▼' %>
        <% end %>
      </th>


      <th> Show this movie </th>
    </tr>
  </thead>

  <tbody>
    <div id="movies">
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </div>   
  </tbody>

  <tfoot>
    <tr> 
        <td colspan="4"> <%= link_to "New movie", new_movie_path(attribute: params[:attribute], order: params[:order]) %> </td>
    </tr>
  </tfoot>
</table>


</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  const button = document.getElementById('toggle-button');
  const text = document.getElementById('toggle-text');

  button.addEventListener('click', () => {
    if (text.style.display === 'none' || text.style.display === '') {
      text.style.display = 'block'; 
    } else {
      text.style.display = 'none'; 
    }
  });
});
</script>


<button id="toggle-button" class="sort-button">Sort</button>
<div id="toggle-text" class="hidden-text">
  Click on the attribute based on which you would like the data to be sorted, click on it again to change the sorting order.
</div>







